{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="box">
    <div id="title">
        <h1>About This Website</h1>
    </div>
    <br>
    <div id="title">
        <p>The goal of this website is to allow people to create a to-do list. Items can be added by typing an activity into the input-box, followed by a simple click on the button on the right of the input-box. Items can be removed by clicking on the dustbin icon. Each item is supplied with its own delete icon. Items can be ordered by clicking and draggin. This works only when the site is viewed in browser.<br>
            Furthermore the created lists are saved locally, allowing to navigate away from the webiste without losing previously created activities.
        </p>
    </div>
</div>
{% endblock %}
